@model Tarea3_Clientes.Models.ClientesModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>ClientesModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Id_Tributaria" class="control-label"></label>
                <input asp-for="Id_Tributaria" class="form-control" />
                <span asp-validation-for="Id_Tributaria" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Num_Identificacion" class="control-label"></label>
                <input asp-for="Num_Identificacion" class="form-control" />
                <span asp-validation-for="Num_Identificacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Razon_Social" class="control-label"></label>
                <input asp-for="Razon_Social" class="form-control" />
                <span asp-validation-for="Razon_Social" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Direccion" class="control-label"></label>
                <input asp-for="Direccion" class="form-control" />
                <span asp-validation-for="Direccion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Telefono" class="control-label"></label>
                <input asp-for="Telefono" class="form-control" />
                <span asp-validation-for="Telefono" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Correo" class="control-label"></label>
                <input asp-for="Correo" class="form-control" />
                <span asp-validation-for="Correo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Codigo_Postal" class="control-label"></label>
                <input asp-for="Codigo_Postal" class="form-control" />
                <span asp-validation-for="Codigo_Postal" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tiene_Credito" class="control-label"></label>
                <input asp-for="Tiene_Credito" class="form-check-input" />
                <span asp-validation-for="Tiene_Credito" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Creacion" class="control-label"></label>
                <input asp-for="Creacion" class="form-control" />
                <span asp-validation-for="Creacion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
